@import "tailwindcss";
@plugin "daisyui";

/* plus-jakarta-sans-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/plus-jakarta-sans-v8-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* plus-jakarta-sans-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  font-weight: 500;
  src: url('./fonts/plus-jakarta-sans-v8-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}


.page {
    width: 250px;
    padding-top: 14px;
    padding-bottom: 14px;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.page:hover {
    background-color: #E4EBFA;
}

.page.active {
  background-color: #635FC7;
  color: white;
}

.content {
  margin-top: 30px;
  margin-left: 10px;
}

.content1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
}



:root {
  --color-bg: #ffffff;
  --color-text: #000000;
  --color-nav-bg: #ffffff;
  --color-card-bg: #ffffff;
    --color-bg: #f4f7fd;
  --color-text: #000112;
  --color-text-muted: #828fa3;
  --color-card-bg: #ffffff;
  --color-input-bg: #ffffff;
  --color-border: #e4ebfa;
  --color-primary: #635fc7;
  --color-button-secondary-bg: rgba(99, 95, 199, 0.1);

}

[data-theme="dark"] {
  --color-bg: #2b2c37;
--color-text: #ffffff;
  --color-nav-bg: #2b2c37;
  --color-card-bg: #20212c;
    --color-bg: #20212c;
  --color-text: #ffffff;
  --color-text-muted: #828fa3;
  --color-card-bg: #2b2c37;
  --color-input-bg: #2b2c37;
  --color-border: #3e3f4e;
  --color-primary: #635fc7;
  --color-button-secondary-bg: rgba(255, 255, 255, 0.1);
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
}